<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DependenciesVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DependenciesVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="graphvizPath" value="C:\Program Files (x86)\Graphviz2.38\bin"/>
    <!--<add key="selectedConnector" value="tfs"/>-->
    <!--<add key="tfsUrl" value="http://tfsprod:8080/tfs/defaultcollection"/>-->
    <!--<add key="tfsprojectName" value="Roche.DP.PocPCR"/>-->
    <!--<add key="csvFile" value="Whatever"/>-->
  </appSettings>
  <userSettings>
    <DependenciesVisualizer.Properties.Settings>
      <setting name="selectedConnector" serializeAs="String">
        <value>tfs</value>
      </setting>
      <setting name="tfsUrl" serializeAs="String">
        <value>http://tfsprod:8080/tfs/defaultcollection</value>
      </setting>
      <setting name="tfsprojectName" serializeAs="String">
        <value>Roche.DP.PocPCR</value>
      </setting>
      <setting name="csvFile" serializeAs="String">
        <value>C:\Temp\SomeFile.csv</value>
      </setting>
    </DependenciesVisualizer.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DependenciesVisualizer.Properties.Settings>
      <setting name="graphvizPath" serializeAs="String">
        <value>C:\Program Files (x86)\Graphviz2.38\bin</value>
      </setting>
    </DependenciesVisualizer.Properties.Settings>
  </applicationSettings>
</configuration>