<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="graphvizPath" value="C:\Program Files (x86)\Graphviz2.38\bin"/>
    <add key="selectedConnector" value="tfs"/>
    <add key="tfsUrl" value="http://tfsprod:8080/tfs/defaultcollection"/>
    <add key="tfsprojectName" value="Roche.DP.PocPCR"/>
    <add key="csvFile" value="Whatever"/>
  </appSettings>
</configuration>