<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DependenciesVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="DepViz.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <userSettings>
    <DependenciesVisualizer.Properties.Settings>
      <setting name="selectedConnector" serializeAs="String">
        <value>tfs</value>
      </setting>
      <setting name="tfsUrl" serializeAs="String">
        <value>http://tfsprod:8080/tfs/defaultcollection</value>
      </setting>
      <setting name="tfsprojectName" serializeAs="String">
        <value>Roche.DP.PocPCR</value>
      </setting>
      <setting name="csvFile" serializeAs="String">
        <value>C:\Temp\SomeFile.csv</value>
      </setting>
      <setting name="graphvizPath" serializeAs="String">
        <value />
      </setting>
      <setting name="maxLineLength" serializeAs="String">
        <value>35</value>
      </setting>
    </DependenciesVisualizer.Properties.Settings>
  </userSettings>
</configuration>